body{
    background-image: url(img/fondo.jpg);
}

#formulario {
    background-image: url(img/fondo.jpg);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border: 2px dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    z-index: 1;
}

#formulario h1{
    color: gold;
    font-weight: bold;
    font-family:fantasy;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 40px;
}

#formulariosHijos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.formulario-hijo {
    background-color: lightgreen;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 180px;
    border: 2px solid black;

}

.formulario-hijo h3 {
    color: gold;
    font-weight: bold;
    font-family:fantasy;
    font-size: x-large;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: black;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

select {
    appearance: none;
}

.agregar-btn {
    background-color: gold;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.agregar-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.agregar-btn:hover{
    background-color: #ccc;
}

#empezarBtn {
    background-color: gold;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#empezarBtn:hover{
    background-color: #ccc;
}

#titulo{
    color: gold;
    text-align: center;
    font-weight: bold;
    font-family:fantasy;
    padding: 0px;
    margin: 10px;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#mesa{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
}

#tablero{
    align-self: center;
    justify-self: center;
    background-color: green;
    width: 780px;
    height: 780px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    border: 15px double green;
    flex-wrap: wrap;
    border-radius: 3px;
    margin-bottom: 20px;
}

#temporizador{
    float: left;
    background-color: gold;
    font-size: 4em;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 25px;
    left: 20px;
    padding: 10px 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#temporizador p{
    margin: 0px;
}

#btnAjustes{
    float: right;
    background-color: gold;
    border-radius: 5px;
    position: fixed;
    top: 5px;
    right: 2px;
    padding: 10px;
    height: 50px;
    width:50px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#menuAjustes{
    display: none;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 9%;
    left: 10%;
    background-color: lightgreen;
    border: 5px double green;
    padding: 20px;
    box-sizing: border-box; 
    z-index: 100;
}


#menuAjustes h1 {
    color: gold;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
    font-size: 30px;
    margin-bottom: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#volumen {
    width: 100%;
    margin-top: 10px; /* Añade un espacio superior */
}

#valorVolumen {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: rgb(17, 0, 255);
    font-weight: bold;
}

#videoExplicativo {
    width: auto;
    height: auto;
    margin-top: 20px;
    position:relative;
    bottom: 15px ;
    right: 15px;
 
}
#guardarAjustes {
    width: 100%;
    padding: 10px;
    background-color: gold;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#guardarAjustes:hover {
    background-color: darkgoldenrod;
    color: white;
}

.explicacionJuego {
    margin-top: 20px;
    font-size: 16px;
}

.suelo{
    background-color: lightgreen;
    width: 50px;
    height:50px;
    border: 1.5px dotted green;
    border-radius: 5px;
}

.pared{
    background-color: green;
    width: 50px;
    height: 50px;
    border: 1.5px solid darkgreen;
}

.muro{
    background-color: lightgray;
    width: 50px;
    height: 50px;
    border: 1.5px solid gray;
}

#casilla0{
    background-color: red;
}

#casilla14{
    background-color: blue;
}

#casilla210{
    background-color: white;
}

#casilla224{
    background-color: gold;
}

#casilla112{
    background-color: black;
}
#fichaminotauro{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 10;
}

.contenedor{
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
}

#contenedor1{
    align-items: flex-end;
}

#contenedor2{
    align-items: flex-start;
}

.tarjeta{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5px;
    width: 200px;
}

.tarjeta img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

#blanco{
    float: right;
    background-color: antiquewhite;
    border: 2px double black;

}

#amarillo{
    background-color: lightgoldenrodyellow;
    border: 2px double black;
}

#azul{
    background-color: lightcyan;
    border: 2px double black;
}

#rojo{
    float: right;
    background-color: lightcoral;
    border: 2px double black;
}

img {
    height: 90%;
    width: 90%;
    border-radius: 50px;
    margin: auto;
}

#cajaDado{
    position: absolute;
    top: 450px;
    left: 120px;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 5px solid black;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}

#pasoTurno{
    position: absolute;
    top: 450px;
    left: 30px;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 5px solid black;
    color: black;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}

#instruccion{
    position: absolute;
    top: 450px;
    right: 30px;
    margin: 5px;
    padding: 10px;
    display: flex;
    background-color: #2ecc71;
    align-items: center;
    border: 5px solid black;
    border-radius: 5px;


}

#cajaFinal{
    display: none;
    height: 600px;
    width: 1000px;
    position: absolute;
    top: 9%;
    left: 10%;
    background-color: green;
}

#tituloVictoria{
    color: #2ecc71;
    font-size: 20px;
}

@media (max-width: 1450px) {

    #mesa{
        display: grid;
        justify-items: center;
        grid-template-areas:'c1 c1 c2 c2'
                            'dado paso instruc instruc'
                            'tab tab tab tab'
    }
    
    .contenedor{
        flex-direction: row;
        width: 100%;

    }

    .tarjeta {
        padding: 5px 0px;
    }

    .tarjeta p{
        margin: 5px 0px;
    }
    
    .tarjeta img{
        height: 40px;
        width: 40px;
        border-radius: 50px;
    }

    #contenedor1{
        grid-area: c1;
        align-items: flex-start;

    }
    
    #contenedor2{
        grid-area: c2;
        align-items: flex-end;
    }

    #tablero{
        grid-area: tab;
    }

    #temporizador{
        float: left;
        background-color: gold;
        font-size: 2em;
    }

    #cajaDado{
        position:static;
        width: 80px;
        height: 80px;
        grid-area: dado;
        margin-bottom: 10px;
    }

    
    #pasoTurno{
        position:static;
        width: 80px;
        height: 80px;
        grid-area: paso;
        margin-bottom: 10px;

    }
    
    #instruccion{
        position: static;
        grid-area: instruc;
    }
}
